@model List<CatId>

<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Partitions Of Sites</h2>
        <p>Here we display everything related to the site sections</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach(var items in Model){
            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi @items.Photo"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">@items.Name</a></h4>
                        <p class="description">@items.Description</p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->
            }
           

        </div>

    </div>

</section>